.header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.header > * + * {
    margin: 20px
}

.header img {
    border-radius: 8px;
}

@media (max-width: 750px) {
    .header {
        flex-direction: column;
        margin-left: 0;
    }

    .header img {
        max-width: 90vw;
    }
}